In [1]:
import numpy as np
import pandas as pd
file_path = r"C:\Users\shara\OneDrive\Desktop\ML ACTS\ML-Projects\KMeans, Agglomerative, DBSCAN\Mall_Customers.csv"
df = pd.read_csv(file_path)
print(df.head())
print(df.tail())
print(df.describe())

print("\n\nMissing values\n", df.isnull().sum())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000


Missing values
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [3]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [ ]:
# Check missing values
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
#shuffle dataeset to avoid pattern in data 
# Shuffle and split data
df_shuffled = df.sample(frac=1).reset_index(drop=True)
train = df_shuffled.iloc[:100]
test = df_shuffled.iloc[100:]
print(train.describe())
test.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

       CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
count         0.0  0.0                 0.0                     0.0
mean          NaN  NaN                 NaN                     NaN
std           NaN  NaN                 NaN                     NaN
min           NaN  NaN                 NaN                     NaN
50%           NaN  NaN                 NaN                     NaN
max           NaN  NaN                 NaN                     NaN